body{
    font-family: 'Montserrat', sans-serif;
    background: fixed;
    background-color: #4ce34c;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='2000' viewBox='0 0 20 20'%3E%3Cg %3E%3Cpolygon fill='%23343bb3' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%23343bb3' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");
    min-width: 479px;
}

h1{
    font-family: 'Staatliches', cursive;
    text-align: center;
}

tab{
    margin: 2rem;
}

.nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    clear: both;
    background: fixed;
    background-color: #343bb3;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='2000' viewBox='0 0 20 20'%3E%3Cg %3E%3Cpolygon fill='%234ce34c' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%234ce34c' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");
}

.link{
    background: none;
    justify-items: stretch;
    width: 25%;
    height: fit-content;
    border: 0.4rem solid black;
    border-left: none;
    font-size: 150%;
}

.link:hover{
    color:white;
}

.container{
    display: grid;
    grid-template-columns: 50rem 50rem;
    grid-template-rows: 25rem 25rem 52rem 52rem;
    grid-gap: 2rem;
    justify-content: center;
    align-content: center;
    position: absolute; 
    top: 20rem;
    right: 9rem;
}

.item-1{
grid-column: 1/1;
grid-row: 1/1;
}

.item-2{
grid-column: 2/2;
grid-row: 1/1;
}

.item-3{
grid-column: 1/1;
grid-row: 2/2;
}

.item-4{
grid-column: 2/2;
grid-row: 2/2;
}

.item-5{
    grid-column: 1/2;
    grid-row: 3/3;
}

.item-6{
    grid-column: 1/2;
    grid-row: 4/4;
}

.pic{
    width: 50rem;
    height: 25rem;
    border: 0.4rem solid black;
}

iframe{
    width: 102rem;
    height: 57rem;
    border: 0.4rem black solid;
    }    

footer{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: calc(100% - 1.8rem);
    position: absolute;
    top: 193rem;
    background: fixed;
    background-color: #343bb3;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='2000' viewBox='0 0 20 20'%3E%3Cg %3E%3Cpolygon fill='%234ce34c' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%234ce34c' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");
    border: 0.4rem solid black;
    text-align: center;
}

a:hover{
    color: white;
}

a:visited{
    color: orange;
    text-decoration: underline;
}

